@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
}

body {
  background-color: #ddd;
}

h1 {
  font-size: 80px;
  text-align: center;
  text-shadow: 1px 1px 2px #fff;
}

.container {
  width: 600px;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);
  border-radius: 5px;
}

.gallery li {
  list-style: none;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* overflow: hidden; */
  border: 5px solid #888;
  float: left;
  margin-right: 20px;
  position: relative;
}

.gallery li span {
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 50%;
  text-decoration: none;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 120px;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transform: scale(0) rotate(0);
  transition: .3s;
}

.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.clear {
  clear: both;
}

.gallery li a img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  transition: 1s;
  text-align: center;
  padding: 100px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  right: 0;
  bottom: 0;
}

.gallery .overlay img {
  max-height: 100%;
  width: 50%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8);
}

.overlay:target img {
  animation: fade 1s;
}

.overlay .close {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -20px;
  color: #fff;
  text-decoration: none;
  background-color: black;
  border: 2px solid #fff;
  border-radius: 5px;
  line-height: 14px;
  padding: 5px;
  opacity: 0;
}

.overlay:target .close {
  animation: slideonFade .5s .5s forwards;
}

.gallery .overlay .next,
.gallery .overlay .prev {
  position: absolute;
  top: 45%;
  margin-left: 20px;
  color: #fff;
  opacity: 0;
}

.gallery .overlay .prev {
  margin-left: -70px;
}

.overlay:target .next,
.overlay:target .prev {
  animation: fade .5s .7s forwards;
}

/* Animasi */
@keyframes zomDanFadein {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideonFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  } 100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}